.mail-sidebar {
  display: flex;
  flex-direction: column;
  background-color: aqua;
  max-width: 256px;
}

.mail-sidebar li {
  list-style-type: none;
}

.mail-sidebar ul {
  margin: 0;
  padding: 0;
}

.btn-mail-compose {
  width: 100px;
}
