.mail-preview {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.mail-preview > * {
  /* margin-inline-end: 20px; */
}

.status-read {
  background-color: #f2f6fc;
}

/* .container-mail-btns {
  grid-column: 1/2;
}

.mail-from {
  grid-column: 2/3;
  /* width: 30px; */
/* justify-self: start; */
/* justify-content: start; */
/* } */
/* 
.mail-subject {
  grid-column: 3/4;
  /* justify-self: start; */
/* } */

/* .mail-sent-at {
  grid-column: 4/5;
  /* justify-self: start; */

/* width: 200px; */
/* }  */
