.mail-sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--mail-SideBar-bgColor);
  width: var(--mail-SideBar-width);
  font-family: 'Google Sans', Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.mail-sidebar li {
  list-style-type: none;
  margin-block: 35px;
}

.mail-sidebar ul {
  margin: 0;
  padding: 0;
}

.btn-mail-compose {
  position: relative;
  width: 118px;
  height: 56px;
  background-color: var(--mail-SideBar-Btn-Compose-BgColor);
  color: var(--mail-SideBar-Btn-Compose-Color);
  line-height: 32px;
  box-shadow: (0, 0, 0, 0) 0px 1px 2px 0px, rgba(0, 0, 0, 0) 0px 1px 3px 1px;
  border-radius: 16px;
  margin: 8px;
  border: none;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 1px 3px 1px rgba(60, 64, 67, 0.149);

  transition: box-shadow 0.08s linear,
    min-width 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
}

.btn-mail-compose:hover {
  box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302),
    0 4px 8px 3px rgba(60, 64, 67, 0.149);
}

.btn-mail-compose::before {
  position: absolute;
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 5px;

  background: url('../../../../img/mail/SideBar/icons8-pencil-20.png') no-repeat
    center center;
  background-size: contain;

  transform: translateY(-50%);
}

.container-sidebar-icons > * {
  height: 32px;

  margin-inline-start: 26px;
  margin-inline-end: 12px;
  vertical-align: center;
  cursor: pointer;
  padding-inline: 5px;
}

.container-sidebar-icons > *:hover {
  /* background-color: red; */
  /* opacity: 0.5; */
  background-color: rgba(32, 33, 36, 0.06);
  /* border-end-end-radius: 50%; */
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}

.container-sidebar-inbox,
.container-sidebar-sent {
  display: flex;
  align-content: center;
  gap: 10px;
}

.img-sidebar-inbox,
.img-sidebar-sent {
  width: 20px;
}

.container-sidebar-icons li:first-child a {
  padding-block-start: 4px;
  font-weight: 700;
}

.btn-sent {
  padding: 0;

  border: none;
  outline: none;
  background: transparent;
}

.container-sidebar-icons li > * {
  /* background-color: red; */
  height: 20px;
}

.container-sidebar-icons li {
  display: flex;
  align-items: center;
}
