.mail-compose {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: aqua;
  width: 50%;
  height: 50%;

  z-index: 100;
}
.form-mail-compose {
  display: flex;
  flex-direction: column;
}

.mail-compose .input-to,
.input-subject {
  width: 25%;
}

.mail-compose textarea {
  width: 50%;
}

.mail-compose .btn-submit-mail {
  width: max-content;
}
