.mail-sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--mail-SideBar-bgColor);
  width: 256px;
}

.mail-sidebar li {
  list-style-type: none;
  margin-block: 35px;
}

.mail-sidebar ul {
  margin: 0;
  padding: 0;
}

.btn-mail-compose {
  width: 118px;
  height: 56px;
  background-color: var(--mail-SideBar-Btn-Compose-BgColor);
  color: var(--mail-SideBar-Btn-Compose-Color);
  line-height: 32px;
  box-shadow: (0, 0, 0, 0) 0px 1px 2px 0px, rgba(0, 0, 0, 0) 0px 1px 3px 1px;
  border-radius: 16px;
  margin: 8px;
  border: none;
  /* box-shadow: 0 1px 2px 0 #0000, 0 1px 3px 1px #0000; */
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 1px 3px 1px rgba(60, 64, 67, 0.149);

  transition: box-shadow 0.08s linear,
    min-width 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
}

.btn-mail-compose:hover {
  box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302),
    0 4px 8px 3px rgba(60, 64, 67, 0.149);
}

/* 
.btn-mail-compose {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 1px 3px 1px rgba(60, 64, 67, 0.149);
  -webkit-font-smoothing: antialiased;
  font-family: 'Google Sans', Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  letter-spacing: normal;
  -webkit-align-items: center;
  align-items: center;
  background-color: #c2e7ff;
  background-image: none;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  color: #001d35;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex;
  font-weight: 500;
  height: 56px;
  min-width: 56px;
  overflow: hidden;
  padding: 0 24px 0 0;
  text-transform: none;
} */
