/* mail list */

.mail-list {
  list-style: none;
  width: 100%;
  /* display: grid; */
  /* flex-direction: column; */
  /* grid-auto-flow: column; */
  /* grid-template-columns: 20px 1fr minmax(1fr, 200px) minmax(1fr, 200px) 20px; */

  padding: 20px;
  /* margin: 0; */
}

.mail-list table {
  width: 100%;
  border-collapse: collapse;
}

.mail-list .mail-row {
  position: relative;
  font-size: 16px;
  font-family: 'Google Sans', Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  padding: 10px;
  /* color: #202124; */
  /* background-color: var(--mail-SideBar-bgColor); */
  box-shadow: rgba(100, 121, 143, 0.12) 0px -1px 0px 0px inset;
  cursor: pointer;
}

.mail-list .mail-row td {
  padding: 10px 0;
  /* border: none; */
}

.mail-list .mail-row:hover {
  box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0,
    0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
}
