.mail-details > * {
  margin-inline-start: 72px;
}

.mail-details-icons {
  display: flex;
  width: 360px;
  height: 28px;
  /* justify-content: space-between; */
  gap: 24px;
}

.mail-details-icons button {
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  background: transparent;
}

.mail-details-icons button:hover {
  background-color: var(--mail-SideBar-bgColor);
  border-radius: 50%;
}

.mail-details-icons img {
  width: 20px;
  height: 20px;
}

.mail-subject {
  font-size: 22px;
  font-family: 'Google Sans', Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: 'Google Sans', Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  line-height: 28px;
  margin-block-end: 20px;
  padding-block-start: 20px;
}

/* .mail-from-to-container {
  /* display: flex; */
/* width: max-content;
  height: 500px;
  padding-top: 20px !important;
  background-color: red; */
/* }  */
