.mail-preview {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.mail-preview > * {
  /* margin-inline-end: 20px; */
}

.status-read {
  background-color: #f2f6fc;
  /* background-color: #eaf1fb; */
  /* color: #202124; */
  /* border: 1px solid white; */
}

.status-unread {
  font-weight: 600;
}

.container-mail-btns {
  display: flex;
  justify-content: space-evenly;
}

.container-mail-btns button {
  /* background: none; */

  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.star-btn {
  width: 20px;
  height: 20px;
  background: none;
  background-image: url(../../../../img/mail//ToolBar/icons8-star-20.png);
}

/* .star-btn:hover {
  background-image: url('path_to_hover_star_image');
} */

/* .container-mail-btns {
  grid-column: 1/2;
}

.mail-from {
  grid-column: 2/3;
  /* width: 30px; */
/* justify-self: start; */
/* justify-content: start; */
/* } */
/* 
.mail-subject {
  grid-column: 3/4;
  /* justify-self: start; */
/* } */

/* .mail-sent-at {
  grid-column: 4/5;
  /* justify-self: start; */

/* width: 200px; */
/* }  */
