.note-list {
    box-sizing: border-box;
    columns: 12rem auto;
    height: fit-content;
    padding: 2rem;

}

.note-list>* {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    break-inside: avoid;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 0.2rem solid;
    border-radius: 2rem;
    margin-bottom: 1rem;
}

.note-list li:hover .note-btns {
    opacity: 1;
}

.note-list li {
    transition: scale 2s;
}

/* .note-list li:hover {
    scale: 1.05;
} */


.foucs {
   scale: 2;
   background-color: bisque;
   /* position: absolute;
   top:3%;
   font-size: x-large;
   right: 50%;
   translate: 50%;
   height: 100%; */
   
}

.note-btns {
    opacity: 0;
    transition: opacity 1s;
    display: flex;
    gap: 1rem;
    width: fit-content;
    height: fit-content;
    

}

.note-btns>* {
    width: fit-content;
    height: fit-content;
    transition: scale 1s;
    /* margin: 0.25rem; */
    padding: 0;
    background-color: inherit;
    border: none;
    


}


.note-btns>*:hover {
    scale: 1.5;
}

.note p {
    overflow-wrap: break-word;
}

/* Edit mode */

.note {
    height: 100%;
}

.note-add-txt+.note+form {
    background-color: red;
}

.note button {
    scale: 0.7;
    background-color: inherit;
    border: none;
}

.note .add-note-btns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);


}

.note .save-btn {
    resize: none;

}

.note textarea {
    box-sizing: border-box;
    resize: none;
    /* display: block; */
    /* border: none; */
    /* border-radius: 2rem; */
    /* padding: 1rem; */
    /* width: 100%; */
    height: auto;
    overflow-y: hidden;
    min-height: 50px;
    /* height: fit-content; */
    /* overflow: visible; */

}