

.note-header {
    display: flex;
    background-color: aliceblue;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
   

}

.note-new .add-note-btns {
    opacity: 0;
    transition: opacity 1s;
    height: 100%;
    transition: 1s;

}

.note-new.add-note-btns>*:hover {
    margin: 0.25rem;
    scale: 1.1;
}

.note-new:hover .add-note-btns {
    opacity: 1;
}

.note-new .note-add-txt textarea:focus {
    font-size: large;
}

.note-new .note-add-txt {
    display: flex;
    align-items: center;
}

.note-new {
    display: flex;
    align-items: center;

}

.note-new button {
    scale: 0.5;
}

.note-new .add-note-btns>*,
.note-new .save-btn {
    transition: scale 1s;
    margin: 0.25rem;
    background-color: aliceblue;
    border: none;
}

.note-new button:hover {
    scale: 1.2;
}



.note-new .save-btn img {
    background-color: none;
}

.note-new .save-btn {
    background-color: inherit;
}

/* MQ */

@media (max-width:850px) {

    .note-new .add-note-btns {
        opacity: 1;
        transition: 1s;
        height: 100%;
    }

    .note-new {
        display: flex;
        align-items: center;
        flex-direction: column;

    }
}

@media(max-width:630px){
    .note-new .add-note-btns{
       columns: auto 3;
    }
    .foucs{
        scale: 1.5;
    }
    
}
/* @media(max-width:410px){
    .note-new .add-note-btns{
       columns: auto 2;
    }
    
} */

@media(max-width:360px){
    .note-new .add-note-btns{
        columns: auto 1;
     }
}


/* .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    background-color: #4285f4;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content button {
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: inherit;
    width: 100%;
    text-align: left;
    cursor: pointer;
  }
  
  .dropdown-content button:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  } */