.note-header {
    display: flex;
    background-color: aliceblue;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}

.note-new .add-note-btns {
    opacity: 0;
    transition: opacity 1s;
    height: 100%;
}

.note-new.add-note-btns>*:hover {
    margin: 0.25rem;
    scale: 1.1;
}

.note-new.add-note-btns:hover {
    opacity: 1;
}

.note-new .note-add-txt textarea:focus {
    font-size: large;

}

.note-new .note-add-txt {
    display: flex;
    align-items: center;
}

.note-new {
    display: flex;
    align-items: center;

}

.note-new button {
    scale: 0.5;
}

.note-new .add-note-btns {
    opacity: 0;
    transition: opacity 1s;
}


.note-new .add-note-btns>*,
.note-new .save-btn {
    transition: scale 1s;
    margin: 0.25rem;
    background-color: aliceblue;
    border: none;
}

.note-new button:hover {
    scale: 1.2;
}

.note-new .add-note-btns:hover {
    opacity: 1;
}

.note-new .save-btn img {
    background-color: none;
}

.note-new .save-btn {
    background-color: inherit;
}