.note-add-todo {
    display: grid;
    align-items: center;
    list-style-type: none;
    padding-inline-start: 1em;

}

.note-add-todo li form>* {
    font-family: robotoBold;

    cursor: pointer;
}

.note-add-todo li {
    display: flex;
    align-items: center;
    height: 3em;
    border-block-end: 1px solid lightgrey;
    transition: .4s;
}

.note-add-todo li:first-child {
    border-block-start: 1px solid lightgrey;
    margin-left: 2.9rem;
}

.note-add-todo li input {
    transition: .4s;
    margin-inline-start: 1em;
    accent-color: lightgrey;
    border: none;
    overflow: hidden;
}

.note-add-todo li:hover {
    scale: 1.1;
}

.note-add-todo li form label {
    position: relative;
    width: max-content;
    padding-inline-start: 1em;
    transition: .6s;
}

.note-add-todo li form label::before {
    content: "";
    position: absolute;
    top: 50%;

    display: block;
    width: 0%;
    border-block-start: 1px solid black;

    transition: .4s;
}

.note-add-todo li form input:checked+label{
    opacity: .3;
    text-decoration: line-through;
}


