/* header */


.note-add-todo .note-add-txt {
    display: block ;
    list-style: none;

}

.todo-head-edit{
    display: flex;
    padding-left: 1rem;
}

.todo-head-edit button{
    padding-inline: 0 ;
    display: block;
    width: 100%;
    height: 100%;
   
   
    
}

.todo {
    display: flex;
    height: 100%;
    /* align-items: center */
    /* position: relative; */
}


input[type='checkbox'] {
    -webkit-appearance: none;
    width: 1.1rem;
    height: 1rem;
    border: 1px solid hsl(0, 0%, 85%);
    border-radius: 1px;
    /* vertical-align: sub; */
    /* position: absolute; */
    /* top: 50% !important; */
    /* transform: translateY(-50%); */
    /* position: relative; */
    /* margin-top: 50%; */

    outline: none;

}

.todo button{

}