/* Normal */

.note .video-title{
    text-align: center;
}

iframe{
    border-radius: 1rem;
}

.iframe-edit{
    display: block;
    width: 100%;

}

.note .note-add-video input{
    border: none;
    text-align: center;
    width: 100%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.note textarea{
    width: 100%;
    text-align: center;
}

.note .video-edit-btns{
    display: flex;
    justify-content: space-around
}