/* mail index  */
/* HEADINGS
Roboto, Arial, sans-serif
BODY
"Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif */

.mail-app-container {
  /* height: fit-content; */
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-color: var(--mail-SideBar-bgColor);
}

.mail-index {
  position: absolute;
  height: 100vh;
  overflow: hidden;

  display: flex;
  /* flex-direction: column; */
  flex-direction: row;
}

.btn-toggle-filter {
  width: 200px;
  height: 30px;
}

.container-sidebar-mails {
  display: flex;
  width: 100vw;
}
