/* mail index  */
/* HEADINGS
Roboto, Arial, sans-serif
BODY
"Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif */

.mail-index {
  display: flex;
  flex-direction: column;
}

.input-global-search {
  width: 200px;
  height: 30px;
}

.btn-toggle-filter {
  width: 200px;
  height: 30px;
}
