/* mail index  */
/* HEADINGS
Roboto, Arial, sans-serif
BODY
"Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif */
body {
  overflow: hidden;
}

.mail-index {
  position: relative;
  height: 100vh;
  display: flex;
  /* flex-direction: column; */
  flex-direction: row;
}

.btn-toggle-filter {
  width: 200px;
  height: 30px;
}

.container-sidebar-mails {
  display: flex;
  width: 100vw;
}
