.notes-index {
    display: flex;
    flex-direction: column;
    padding-inline: 3rem;
    height: 100%;
    gap: 3rem;
}

.notes-index>* {
    font-family: robotoBold;
}

.note-index button {
    transition: scale 1s;

}

.notes-index img {
    background-color: none;
}

.notes-index button {
    border: none;
    background-color: inherit;
}

.notes-index textarea {
    background-color: inherit;
    border: none;
    overflow: hidden;
    min-height: min-content;
    max-height: 500px;
    resize: none;
    display: flex;
    justify-content: center;
    overflow-wrap: break-word;
    transition: font-size 1s;
    text-align: start;
    font-family: robotoBold;
    padding-top: 1.25rem;
    padding: 0;
    align-items: center;

}